*~
*.o
*.a
*.da
*.bb
*.bbg
*.prof
/config.log
/config.status
/dbclient
/dropbear
/dropbearconvert
/dropbearkey
/dropbearmulti
/scp
/scp-progress
Makefile
config.h
default_options_guard.h
/permission.h
