*.o
/.deps/
/.libs/
/Makefile
/autom4te.cache/
/config.h
/config.log
/config.status
/configure
/extensions/*.d
/extensions/*.oo
/extensions/*.so
/extensions/.initext4.dd
/extensions/.initext6.dd
/extensions/GNUmakefile
/extensions/initext4.c
/extensions/initext6.c
/extensions/libext4.a
/extensions/libext6.a
/extensions/matches4.man
/extensions/matches6.man
/extensions/targets4.man
/extensions/targets6.man
/include/Makefile
/include/iptables/internal.h
/include/xtables.h
/ip6tables-multi
/ip6tables.8
/iptables-multi
/iptables.8
/libipq/.deps/
/libipq/Makefile
/libiptc.pc
/libiptc/.deps/
/libiptc/.dirstamp
/libiptc/.libs/
/libiptc/libip4tc.la
/libiptc/libip4tc.lo
/libiptc/libip6tc.la
/libiptc/libip6tc.lo
/libiptc/libiptc.la
/libtool
/libxtables.la
/libxtables_la-xtables.lo
/stamp-h1
/xtables.pc
