*.o
*.o.cmd
*.a
*.d
.*.cmd
/.kernelrelease
/.config.old
/.stamp_*
/.config
/.applied_patches_list
/.indent.pro
/busybox
/busybox.links
/docs/BusyBox.1
/docs/BusyBox.html
/docs/BusyBox.txt
/docs/busybox.net/
/docs/busybox.pod
/include/config.h
/applets/Kbuild
/archival/Config.in
/archival/Kbuild
/archival/libarchive/Kbuild
/busybox_unstripped
/busybox_unstripped.map
/busybox_unstripped.out
/console-tools/Config.in
/console-tools/Kbuild
/coreutils/Config.in
/coreutils/Kbuild
/coreutils/libcoreutils/Kbuild
/debianutils/Config.in
/debianutils/Kbuild
/e2fsprogs/Config.in
/e2fsprogs/Kbuild
/e2fsprogs/old_e2fsprogs/Config.in
/e2fsprogs/old_e2fsprogs/Kbuild
/e2fsprogs/old_e2fsprogs/blkid/Kbuild
/e2fsprogs/old_e2fsprogs/e2p/Kbuild
/e2fsprogs/old_e2fsprogs/ext2fs/Kbuild
/e2fsprogs/old_e2fsprogs/uuid/Kbuild
/editors/Config.in
/editors/Kbuild
/findutils/Config.in
/findutils/Kbuild
/init/Config.in
/init/Kbuild
/libbb/Config.in
/libbb/Kbuild
/libpwdgrp/Kbuild
/loginutils/Config.in
/loginutils/Kbuild
/mailutils/Config.in
/mailutils/Kbuild
/miscutils/Config.in
/miscutils/Kbuild
/modutils/Config.in
/modutils/Kbuild
/networking/Config.in
/networking/Kbuild
/networking/libiproute/Kbuild
/networking/udhcp/Config.in
/networking/udhcp/Kbuild
/printutils/Config.in
/printutils/Kbuild
/procps/Config.in
/procps/Kbuild
/runit/Config.in
/runit/Kbuild
/scripts/Kbuild
/selinux/Config.in
/selinux/Kbuild
/shell/Config.in
/shell/Kbuild
/sysklogd/Config.in
/sysklogd/Kbuild
/util-linux/Config.in
/util-linux/Kbuild
/util-linux/volume_id/Kbuild