/asm/i386/src_gas/.deps
/example/.deps
/examples/.deps
/lzotest/.deps
/minilzo/.deps
/minilzo/.libs
/minilzo/minilzo.lo
/minilzo/minilzo.o
/src/.deps
/src/.libs
/src/.dirstamp
/src/liblzo2.la
/test/.deps
/tests/.deps
/config.h
/config.log
/config.status
/libtool
/Makefile
/stamp-h1
